<!DOCTYPE html>
<html>
<head>
  <title>Food Payments</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet"> 
  <style>
    /* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #171C3A;
    color: white;
    font-family: 'Roboto', sans-serif;
  }
  
  /* Sidenav Styling */
  .sidenav {
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1abc9c;
    color: #fff;
    padding: 20px;
  }
  
  .sidenav button,
  .sidenav a {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #1abc9c;
    color: #fff;
    text-decoration: none;
    border: none;
    width: 100%;
    text-align: left;
    transition: background-color 0.3s ease;
    font-size: 16px;
  }
  
  .sidenav button:hover,
  .sidenav a:hover {
    background-color: #16a085;
  }
  
  .sidenav .logout-btn {
    margin-top: auto;
  }
  
  /* Content Styling */
  .content {
    margin-left: 240px;
    margin-right: 20px;
    padding: 20px 35px 20px 59px;
  }
  
  
  .dashboard-box {
    background-color: #0A0E29;
    padding: 30px;
    text-align: center;
    border-radius: 20px;
    background: rgba(39, 39, 39, 0.1);
    backdrop-filter: blur(60px);
    -webkit-backdrop-filter: blur(60px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
  }
  
  .dashboard-box h2 {
    margin-top: 0;
    font-size: 24px;
    letter-spacing: 3px;
  }
  
  .dashboard-value {
    font-size: 30px;
    font-weight: bold;
  }
  

.content h2 {
  margin-top: 0;
  margin-bottom: 30px; /* Increase the margin */
  font-size: 24px; /* Increase the font-size */
}

.food-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
}

.food-table th,
.food-table td {
  padding: 10px;
  border: 2px solid #ccc; 
  text-align: left;
}

.food-table th {
  background-color: #4D73E6;
  color: #fff;
}
  </style>
</head>
<body>
  <div class="sidenav">
    <h1 style="font-family:Roboto Condensed; text-decoration: underline;">FINANCE WISE</h1>
    <button><a href="/dashboard">Dashboard</a></button>
    <button><a href="/transaction">Add Transactions</a></button>
    <button><a href="/food">Food Payments</a></button>
    <button><a href="/bills">Bill Payment</a></button>
    <button><a href="/others">Other Expenses</a></button>
    <button class="logout-btn"><a href="/logout">Logout</a></button>
  </div>

  <div class="content">
    <div class="dashboard-box" style="background: rgb(137,86,233); background: linear-gradient(90deg, rgba(137,86,233,1) 0%, rgba(77,115,230,1) 51%, rgba(77,115,230,1) 100%);">
      <h2>MISCELLANEOUS EXPENDITURE</h2>
      <p class="dashboard-value"><%=totalOther%></p>
    </div><br><br><br>
    <table class="food-table">
      <thead>
        <tr>
          <th>Amount</th>
          <th>Description</th>
          <th>Transaction Date</th>
        </tr>
      </thead>
      <tbody>
        <%for (var i=0;i<amount.length;i++){%>
          <tr>
              <td><%=amount[i]%></td>
              <td><%=description[i]%></td>
              <td><%=date[i]%></td>
          </tr>
          <%}%>
      </tbody>
    </table>
  </div>
</body>
</html>
